<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<footer class="footer">

  <div class="footer-container">

    <div class="footer-col">
      <img src="/images/future_pay_coin.webp" style="width:120px; height: 120px;" alt="Future Pay Coin">
      <p>
        Future Pay Coin (FPC) <i>Empowering the future of Finance.</i>
      </p>

      <div class="footer-social">        
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/ecosystem">Ecosystem</a></li>
        <li><a href="/tokenomics">Tokenomics</a></li>
        <li><a href="/rewards">Rewards</a></li>

      </ul>
    </div>

    <div class="footer-col">
      <h4>Company Policy </h4>
      <ul>
        <li><a href="/terms_and_condition">Terms & Conditions</a> </li>
        
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contact</h4>
      <ul class="contact-list">        
        <li>
          <i class="fa-solid fa-globe"></i>
          www.futurepaycoin.com 
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          admin@futurepaycoin.com support@futurepaycoin.com
        </li>       
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 FUTURE PAY COIN. All Rights Reserved.
    Design & Developed by
    <b>
      <a href="https://futurepaycoin.com/" class="tripledot">
        FUTURE PAY COIN
      </a>
    </b>
  </div>

</footer>

<script src="/js/main.js"></script>

</body>
</html>